* {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* .document-fluid {
  padding-top: 0;
} */

.col-md-6 img {
  margin-top: -3px;
}

.mc-field-group {
  margin: 0 auto;
}

.mc-field-group #mail {
  font-size: 18px;
  padding: 10px;
}

#mce-success-response {
  margin-top: 0;
  padding-top: 0;
}

.optionalParent {
  width: 20%;
  margin: 0 auto;
}

.optionalParent .clear {
  margin: 0 auto;
}

@media screen and (max-width: 520px) {
  .mc-field-group input {
    width: 100vw;
  }

  .optionalParent {
    width: 80%;
  }
}